
footer {
    margin-top: auto; 
}

/* FontAwesome property */
.location-icon, .heart-icon{
    font-size: 30px;
}

/* card border */
.MyBorder{
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}